pandas
pydantic
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
pymupdf
arxiv
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
langchain_chroma
langchain-ollama
faiss-cpu
openai